.about__title{
  color: rgba(25, 25, 25, 1);
  font-family: Montserrat;
  font-size: 38px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}
.about__subtitle{
  color: rgba(94, 95, 95, 0.6);
  font-family: Merriweather;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 150px;
}
@media (max-width: 1150px){
  .about__subtitle{
    margin-bottom: 50px;
  }
}