.about__title{
  opacity: 0.9;
  color: black;
  font-family: Montserrat;
  font-size: 38px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}
.about__subtitle{
  opacity: 0.62;
  color: black;
  font-family: Merriweather;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 150px;
}