.banner__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between
}
.banner{
  display: block;
  margin-bottom: 20px;
}
@media (max-width: 1150px){
  .banner{
  width: 49%;
  height: 49%;
  margin-bottom: 12px;
  }
}
@media (max-width: 639px){
  .banner{
    width: 100%;
  }
}


