.banner__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between
}
.banner{
  display: block;
  margin-bottom: 20px; 
}
@media (max-width: 1023px){
  .banner__container{
    display: flex;
    justify-content: space-around;
  }
}