.button{
  width: 250px;
  height: 60px;
  border-radius: 2px;
  background-color: #6eeee4;
  transition: 0.4s;
  margin-top: 15px;
}
.button:hover{
  opacity: 0.8;
}
.button__text{
  text-align: center;
  padding: 18px;
  opacity: 0.7;
  color: #000000;
  font-size: 18px;
  text-transform: uppercase;
}