.form__wrap-button{
  width: 250px;
  height: 60px;
  border: none;
  border-radius: 2px;
  background: rgba(110, 238, 228, 1);
  transition: 0.4s;
  margin: 0 0 20px 0;
  padding: 18px;
  color: rgba(0, 0, 0, 0.7);
  font-family: Montserrat;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
}
.form__wrap-button:hover{
  opacity: 0.8;
}