.comment{
  display:flex;
  justify-content: space-between;
  text-align: flex-start;
  position: relative;
}
@media (max-width: 1150px){
  .comment{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 639px){
  .comment__photo{
    width: 100%;
  }
}
.comment__photo-back{
  position: absolute;
  margin-top: 25px;
}
@media (max-width: 639px){
  .comment__photo-back{
    width: 100%;
  } 
}
.comment__photo-title{
  margin-left: 11%;
}
@media (max-width: 639px){
  .comment__photo-title{
    width: 80%;
    margin-top: 10px;
  }
}
.comment__author{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 670px;
  height: 360px;
  background: rgba(234, 235, 237, 0.7);
  border-radius: 3px;
  margin-top: 25px;
}
@media (max-width: 1150px){
  .comment__author{
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 639px){
  .comment__author{
    width: 100%;
    height: auto;
  }
}
.comment__author-name{
  color: black;
  font-size: 20px;
  font-weight: 700;
}
@media (max-width: 639px){
  .comment__author-name{
    font-size: 16px;
    margin-top: 30px;
  }
}
.comment__author-designer{
  color: #787878;
  font-size: 16px;
  font-weight: 400;
}
.comment__text{
  padding: 40px;
  color: rgba(70, 70, 71, 0.8);
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}
@media (max-width: 1150px){
  .comment__text{
    font-size: 20px;
  }
}
@media (max-width: 639px){
  .comment__text{
    text-align: justify;
  }
}
.comment__rating{
  color: rgba(242, 218, 59, 1);
}
@media (max-width: 639px){
  .comment__rating{
    margin-bottom: 30px;
  }
}