.comment{
  display:flex;
  justify-content: space-between;
  text-align: flex-start;
  position: relative;
}
@media (max-width: 1023px){
  .comment{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.comment__photo-back{
  position: absolute;
  margin-top: 25px;
}
.comment__photo-title{
  margin-left: 11%;
}
.comment__author{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 670px;
  height: 360px;
  background-color: #eaebed;
  border-radius: 3px;
  margin-top: 25px;
}
@media (max-width: 1023px){
  .comment__author{
    margin-left: 80px;
  }
}
.comment__author-name{
  color: black;
  font-size: 20px;
  font-weight: 700;
}
.comment__author-designer{
  color: #787878;
  font-size: 16px;
  font-weight: 400;
}
.comment__text{
  padding: 40px;
  color: rgba(70, 70, 71, 0.8);
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}
.comment__rating{
  color: rgba(242, 218, 59, 1);
}
