.copyright{
  text-align: center;
  padding: 30px;
}
.copyright__text{
  color: rgba(126, 129, 131, 1);
  margin-top: 10px;
}
.copyright__icon{
  margin: 10px;
}
.copyright__subtext{
  color: rgba(101, 105, 107, 1);
}