.example{
  position: relative;
  display: flex;
}
@media (max-width: 1023px){
  .example{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.example__img{
  position:absolute;
  margin: 10px 0 0 25px;
}
.example__img-back{
  margin-top: 20px;
}
@media (max-width: 1023px){
  .example__img-back{
    margin-left: 50px; 
  }
}
.example__content{
  margin-left: 150px;
}
@media (max-width: 1023px){
  .example__content{
    width: 50%;
    margin-top: 50px;
    margin-left: 50px;
  }
}
.example__title{ 
  color: rgba(74, 75, 75, 1);
  font-family: Merriweather;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.example__text{
  color: rgba(110, 111, 111, 0.9);
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.example__subtext{
  color: rgba(110, 111, 111, 0.9);
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin: 20px 0px 30px;
}