.featured{
  text-align: center
}
.featured__title{
  color: rgba(74, 75, 75, 1);
  font-family: Montserrat;
  font-size: 38px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.featured__subtitle{
  color: rgba(110, 111, 111, 0.9);
  font-family: Merriweather;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 130px;
}
@media (max-width: 1150px){
  .featured__subtitle{
    margin-bottom: 50px;
  }
}
@media (max-width: 639px){
  .featured__subtitle{
    line-height: 20px;
  }
}