.form__right{
  background-color: rgba(72, 84, 94, 1);
  color: #a8afb4;
  padding: 20px;
}
.form__web{
  margin-top: 20px;
}
.form__web-link{
  margin-left: 5px;
}
.form__maps{
  margin-top: 10px;
}
.form__email-link{
  margin-left: 5px;
}