.form{
  display: flex;
  justify-content: space-around;
  position: relative;
  background-size: cover;
  background-position: center center;
  opacity: 0.8;
}
.form--bg{
  background-size: cover;
  background-position: center;
  background-image: url(http://placehold.it/1140x930);
}