.form__left{
  box-shadow: 0 0 30px rgba(21, 21, 21, 0.12);
  background-color: #021623;
  opacity: 0.71;
  margin-right: 30px;
}
.form__left-message{
  margin: 20px 20px 0 20px;
  color: #a8afb4;
}
.form__name{
}
.form__subject{
  margin-top: 20px;
  border-bottom: 1px solid #5a6b75;
  width: 550px;
}
.form__mail{
  margin-top: 20px;
  border-bottom: 1px solid #5a6b75;
  width: 550px;
}
.form__message-text{
  margin: 20px 0 30px 0;
}
