.logo{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo__up-sample{
  margin-left: 50px;
  margin-bottom: 30px;
}
@media (max-width: 1150px){
  .logo__up-sample{
    margin-left: 30px;
  }
}
.logo__container{
  display: flex;
}
@media (max-width: 1150px){
  .logo__container{
    flex-direction: column;
    
  }
}
.logo__middle-sample{
  margin-left: 30px;
}
@media (max-width: 1150px){
  .logo__middle-sample{
    margin-left: 30px;
    margin-bottom: 30px;
  }
}
.logo__down-sample{
  margin-left: 30px;
}
@media (max-width: 1150px){
  .logo__down-sample{ 
    margin-left: 30px;
  }
}