.samples{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: initial;
  width: 30%;
  min-height: 440px;
  margin-bottom: 15px;
  background-size: cover;
  background-position: center center;
}
@media(max-width: 1150px){
  .samples{
  }
}
.samples:hover .samples__container{
  opacity: 1;
  transition: 0.8s;
}
.samples__container{
  position: relative;
  margin: 10%;
  margin-bottom: 30px;
  background: rgba(112, 246, 235, 1);
  opacity: 0;
}
@media (max-width: 1150px){
  .samples__container{
    margin: 0 auto;
    top: -10%;
  }
}
.samples__content:after{
  content: " ";
  position: absolute;
  border: 15px solid;
  border-color: transparent transparent rgba(112, 246, 235, 1);
  top: -29px;
}
.samples__content{
  padding-left: 30px;
}
.samples__name{
  color: rgba(42, 50, 49, 1);
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
}
.samples__name-position{
  color: rgba(118, 112, 112, 1);
  font-size: 15px;
  font-weight: 400;
  font-style: italic;
  
}
.samples__text{
  width: 240px;
  margin-top: 20px;
  color: rgba(22, 50, 47, 1);
  
}
.samples__icon{
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}