.section{
    padding: 0 20px;  
}
.section--light{
    background-color: rgba(239, 240, 242, 1);
}
.section--intro{
   padding: 65px 20px 0; 
}
.section__content{
  position: relative;
  max-width: 1140px;
  min-width: 280px;
  margin: 0 auto;
}
@media (max-width: 1150px){
  .section__content{
    width: 800px;
  }
}
.section--separated{
  padding: 75px 20px;
}
.section--greaterly{
  background-color: rgba(249, 251, 251, 1);
}
.section__copyright{
  background-color: rgba(38, 43, 46, 1);
}
