.services__title{
  text-align: center;
  color: rgba(25, 25, 25, 1);
  font-family: Montserrat;
  font-size: 38px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.services__subtitle{
  text-align: center;
  color: rgba(134, 135, 135, 1);
  font-family: Merriweather;
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 125px;
}
@media (max-width: 1150px){
  .services__subtitle{
    margin-bottom: 50px;
  line-height: 20px;
  }
}
.services__preview{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -20px;
}