.user{
  text-align: center;
}
.user__title{
  color: rgba(74, 75, 75, 1);
  font-family: Montserrat;
  font-size: 38px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.user__subtitle{
  color: rgba(110, 111, 111, 0.9);
  font-family: Merriweather;
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 140px;
}
@media (max-width: 1150px){
  .user__subtitle{
    margin-bottom: 50px;
  }
}
@media (max-width: 639px){
  .user__subtitle{
    line-height: 20px;
  }
}